.app-layout {
  min-height: auto !important;

  .profile-card {
    background-color: red;
  }

  .status-card {
    padding: 180px 63px 274px 63px;

    .status-primary-text {
      font-size: 40px;
    }
  }
}
