.profile-main {
  background: #fbfbfc;
  padding-bottom: 56px;
  padding-top: 32px;

  .profile-header {
    margin-bottom: 150px;
  }

  .profile-card {
    width: 90%;
    margin: auto;
    .profile-section {
      top: -25%;
    }

    .profile-image-wrapper {
      // background-image: url('/status-override/images/wave.png');
      // background-repeat: no-repeat;
      // background-size: 100%;
      // background-position: center;
    }

    .status-card {
      margin-top: 200px;
      .status-tabs {
        width: 100%;
        .q-tabs__content {
          width: 50%;
          flex-wrap: wrap !important;
          gap: 16px;
          justify-content: center;
          .q-tab {
            width: 297px;
            height: 216px;
            justify-content: start;
            border: 1px solid #d9d9d9;
            .q-tab__content {
              flex-direction: column;
              align-items: start;
              gap: 6px;
            }
          }
        }
      }
    }

    .change-btn {
      text-align: center;
      margin-top: 32px;
      width: 368px;
      height: 48px;
    }
  }
}

.profile-card.q-card {
  box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.15);
}

body.screen--md {
  .profile-main .profile-card {
    .status-card .status-tabs .q-tab {
      width: 221px;
      height: 168px;
    }
  }
}

body.screen--sm {
  .profile-main .profile-card {
    .status-card .status-tabs .q-tab {
      width: 331.5px;
      height: 168px;
    }
  }
}

body.screen--xs {
  .profile-main .profile-card {
    width: 100%;
    .status-card .status-tabs .q-tab {
      width: 163px;
      height: 88px;
    }
  }
}
